#osagoOrderDetails{
    padding-bottom: 20px;
}
#osagoOrderDetails .row{
    padding-bottom:10px;
    border: 1px solid lightgray;
}

#osagoOrderDetails .description{
    font-family: "Roboto Light";
}