html {
  position: relative;
  min-height: 100%;
}
body{
    background-color: #ececec;
    padding: 0;
    border: 0;
    font-family: "RobotoMedium";
}

.header{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;

    background-color: #199052;
    background-image: -webkit-linear-gradient(top, #199052, #11713f);
    background-image: -moz-linear-gradient(top, #199052, #11713f);
    background-image: -ms-linear-gradient(top, #199052, #11713f);
    background-image: -o-linear-gradient(top, #199052, #11713f);
    background-image: linear-gradient(to bottom, #199052, #11713f);
    border: 0;
    border-radius: 0;
    box-shadow: 0 5px 5px #a4a4a4;
}

.header-info{
    font-family: "RobotoLight";
    color: white;
    line-height: 12pt;
}

.lableAttention{
    font-family: "RobotoMedium";
    font-size: 20px;
    color: white;
}

.lableAttentionGreen{
    color:#199052;
}

.container-header{
    
}

/*----------vertical navmenu-------------------*/
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
        background-color: #ececec;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        font-family: "RobotoLight";
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 0;
        padding-right: 0;
    }
}

/*-------horizontal navmenu------------------*/
.navmenu{
    width: 100%;
}

.navmenu nav{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.containerFullWidth{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100px;
    background-color: white;
}

.banners{
    padding-top: 20px;
    margin-bottom: 20px;
}

.bannerItem{
    padding-top: 10px;
    max-width: 33%;
}

.information{
    padding-top: 20px;
    line-height: 25px;
}

.information h4,h5{
    color:#11713f;
}

.form-warning{
    border-color: #db8585;
}

.form-valid{
    border-color: #85db87;
}

.text-warning{
    font-size: 12px;
    font-family: "RobotoLight";
    color: red;
}

.noPadding{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0px;
    margin-left: 0px;
}

.vertAlign{
    height: 100%;
    display: flex;
    align-items: center;
}

.imgCentered {
    margin: 0 auto;
}

.imgSlide{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navButtons{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.list-inline-custom {
    margin: 0;
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
    text-align:justify;
}
.list-inline-custom > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    width: auto;
}
.list-inline-custom > li a {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.list-inline-custom:after {
    content:'';
    display:inline-block;
    width:100%;
}

/*---------------buttons-------------------*/

.buttonSelectAutoClass {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: solid #4cae4c 1px;
}

.buttonSelectAutoClass:focus{
    outline: none;
}

@keyframes buttonSelectAutoClass {
    from {
        box-shadow: none;
    }
    50%{

    }
    to {
        background-color: #199052;
        border-color: #199052;
        box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.35);
    }
}

.buttonSelectAutoClass:hover {
    animation-name: buttonSelectAutoClass;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.buttonSelectAutoClass:active {
}

.buttonSelectAutoClassSelected{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #199052;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.35);
    border: solid #199052 1px;
}

.autoB{
    background-image: url(../img/1st-a.png);
    background-repeat: no-repeat;
    background-position: center;
}
.autoC{
    background-image: url(../img/2s-a.png);
    background-repeat: no-repeat;
    background-position: center;
}
.autoD{
    background-image: url(../img/3nd-a.png);
    background-repeat: no-repeat;
    background-position: center;
}
.autoF{
    background-image: url(../img/4s-a.png);
    background-repeat: no-repeat;
    background-position: center;
}
.autoA{
    background-image: url(../img/5s-a.png);
    background-repeat: no-repeat;
    background-position: center;
}

.buttonExpand {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #46474f;
    background-size: 10% auto;
    background-color: white;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: solid #11713f 1px;
    text-decoration: none;
    font-family: RobotoMedium;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.35);
    font-size: 14px;
}

@keyframes buttonExpand {
    from {
    }
    50%{
        color: white;
        background-color: #11713f;
    }
    to {
        background-color: white;
    }
}

.buttonExpand:hover {
    background-color: white;
    border-color: #11713f;
    color: #46474f;
    text-decoration: none;
    animation-name: buttonExpand;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.buttonExpand:active {
    box-shadow: none;
}

.buttonFinish{
    background-color: #11713f;
    color: white;
    height: 50px;
    width: 200px;
    border: solid #11713f 1px;
}

/*-------------------calc--------------------------*/
.calcButtonLabel{
    font-weight: 400;
}

.custom-btn-block {
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    text-align: left;
}

@-moz-document url-prefix() {
    select.form-control {
        padding-right: 25px;
        background-image: url("data:image/svg+xml,\
          <svg version='1.1' xmlns='http://www.w3.org/2000/svg'\
               width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(17,113,63)'>\
            <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
          </svg>");
        background-repeat: no-repeat;
        background-position: calc(100% - 7px) 50%;
        -moz-appearance: none;
        appearance: none;
    }
}

.calcPanel{
    z-index: 1;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-color: #d7d7d7;
    color:black;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 7px 10px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 7px 10px 0px rgba(50, 50, 50, 0.35);
}

.calcPanelBody{
    padding-top: 20px;
}

.calcResult{
    padding: 20px;
    font-size: 20px;
    color: #199052;
    font-family: "RobotoMedium";
}

.form-signin{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------footer----------------------------*/
.Site {
    display: flex;
    min-height:100vh;
    flex-direction: column;
}

.Site-content {
    flex-grow:1;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding-top: 20px;
    background-color: #46474f;
    line-height: 8pt;
    color: #dbdbdb;;
    font-family: "RobotoLight";
    font-size: 12px;
}

.footer a{
    color: white;
    text-decoration: none;
}

/*-----------affix controls------------------*/
@media (max-width: 767px) {
    .affix {
        position: static;
    }
}

@media (min-width: 768px) {
    .affix {
        z-index:10;
        width: 100%;
        top: 0px;
        position: fixed;
        
       -webkit-transition: background .5s linear;
        transition: background .5s linear;
        background-color: darkslategrey;
    }
    
    .affix nav{
        width: 900px;
        height: 50px;
    }
    
    .affix.navmenu nav li {
        text-decoration: none;
        text-align: center;
        color: #dbdbdb;
    }

    .affix + .calcPanel{
        margin-top: 50px;
    }
}

/*----bootstrap overrides----*/

@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

/*----typeahead styles----*/
.twitter-typeahead {
    width: 100%;
    position: relative;
    z-index: 1;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 100%;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}