<div class="sidebar-nav" th:fragment="sidemenu">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Меню</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Калькулятор ОСЦПВ</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/cabinet/coefficients-osago">Редагування коефицієнтів ОСЦПВ</a></li>
                <li><a href="/cabinet/orders-osago">Замовлення ОСЦПВ</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <div><input type="submit" class="btn btn-default" value="Вийти з кабінету"/></div>
                    </form>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>