<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Страхування авто - особистий кабінет - Редагування коефицієнтів ОСЦПВ | СК "Український страховий стандарт"</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
</head>
<body class="Site">
<div th:insert="header-template :: header"></div>

<div th:insert="header-menu-template:: navmenu"></div>

<!--body-->
<div class="container Site-content">
    <h3>Особистий кабінет</h3>


    <div class="row">
        <div class="col-sm-3">
            <div th:insert="cabinet-sidemenu-template :: sidemenu"></div>
        </div>
        <div class="col-sm-9">
            <!--content-->
            <div>
                <a href="/cabinet/coefficients-osago/new" id="newCoefficient" class="btn btn-success" style="margin-bottom: 20px; margin-top: 20px">+ Додати новий коеффіцієнт</a>
            </div>
            <div id="osagoListSimple">
                <div class="row" style="padding-bottom: 20px; background-color: lightgray">
                    <div class="col-xs-5">id</div>
                    <div class="col-xs-2">group</div>
                    <div class="col-xs-1">value</div>
                    <div class="col-xs-3">description</div>
                    <div class="col-xs-1">sort</div>
                </div>

                <div class="row" style="padding-bottom: 20px" th:each="coefficient: ${coefficients}">
                    <!--<div class="col-xs-5" th:text="${coefficient.coefficientId}"></div>-->
                    <div class="col-xs-5"><a th:href="@{/cabinet/coefficients-osago/edit/?coefficientId=}+${coefficient.coefficientId}" th:text="${coefficient.coefficientId}"></a></div>
                    <div class="col-xs-2" th:text="${coefficient.coefficientGroup}"></div>
                    <div class="col-xs-1" th:text="${coefficient.coefficientValue}"></div>
                    <div class="col-xs-3" th:text="${coefficient.description}"></div>
                    <div class="col-xs-1" th:text="${coefficient.sortingVal}"></div>
                </div>

            </div>

        </div>
    </div>


</div>

<div th:insert="footer-template :: footer"></div>
<!--javascript-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>