<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Страхування авто - особистий кабінет - Редагування коефицієнтів ОСЦПВ | СК "Український страховий стандарт"</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
</head>
<body class="Site">
<div th:insert="header-template :: header"></div>

<div th:insert="header-menu-template:: navmenu"></div>

<!--body-->
<div class="container Site-content">
    <h3>Особистий кабінет</h3>


    <div class="row">
        <div class="col-sm-3">
            <div th:insert="cabinet-sidemenu-template :: sidemenu"></div>
        </div>
        <div class="col-sm-9">
            <!--content-->

            <div class="form-group">
                <label for="coefficientId">id:</label>
                <input type="text" class="form-control" id="coefficientId" th:value="${coefficientId}">
            </div>
            <div class="form-group">
                <label for="coefficientGroup">group:</label>
                <input type="text" class="form-control" id="coefficientGroup" th:value="${coefficientGroup}">
            </div>
            <div class="form-group">
                <label for="coefficientValue">value:</label>
                <input type="text" class="form-control" id="coefficientValue" th:value="${coefficientValue}">
            </div>
            <div class="form-group">
                <label for="description">description:</label>
                <input type="text" class="form-control" id="description" th:value="${description}">
            </div>
            <div class="form-group">
                <label for="sortingVal">sorting value:</label>
                <input type="text" class="form-control" id="sortingVal" th:value="${sortingVal}">
            </div>

            <div class="btn-group" style="margin-bottom: 20px; margin-top: 20px">
                <button type="button" id="delete" class="btn btn-danger">Видалити</button>
                <a href="/cabinet/coefficients-osago" id="cancel" class="btn btn-info">Відміна</a>
                <button type="button" id="save" class="btn btn-success">Зберегти</button>
            </div>

        </div>
    </div>

    <div class="modal fade" id="successModal" tabindex="-1" Role="dialog" aria-labelledby="successModalLabel">
        <div class="modal-dialog" Role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Зміни збережені!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSuccessModal" tabindex="-1" Role="dialog" aria-labelledby="successModalLabel">
        <div class="modal-dialog" Role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Коеффіцієнт видалено!</p>
                </div>
                <div class="modal-footer">
                    <a href="/cabinet/coefficients-osago" class="btn btn-info">Повернутись до головної</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="errorModal" tabindex="-1" Role="dialog" aria-labelledby="wrongFormLabel">
        <div class="modal-dialog" Role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Невірно заповнена форма!</p>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:insert="footer-template :: footer"></div>
<!--javascript-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript">

    var csrf = $("[name=_csrf]").val();

    $("#save").click( function() {
        $.ajax({
            url: "/api/calculator/osago/1.0/private/admin/coefficient/edit",
            dataType: "json",
            method: "POST",
            data: {
                coefficientId: $("#coefficientId").val(),
                coefficientGroup: $("#coefficientGroup").val(),
                coefficientValue: $("#coefficientValue").val(),
                description: $("#description").val(),
                sortingVal: $("#sortingVal").val(),
                _csrf:csrf
            },
            success: function(){
                $('#successModal').modal('show');
            },
            statusCode:{
                400: function () {
                    $('#errorModal').modal('show');
                }
            }
        })
    });

    $("#delete").click( function() {
        $.ajax({
            url: "/api/calculator/osago/1.0/private/admin/coefficient/delete",
            dataType: "json",
            method: "POST",
            data: {
                coefficientId: $("#coefficientId").val(),
                _csrf:csrf
            },
            success: function(){
                $('#deleteSuccessModal').modal('show');
            },
            statusCode:{
                400: function () {
                    $('#errorModal').modal('show');
                }
            }
        })
    });

</script>

</body>
</html>