<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Страхування авто - калькулятор ОСЦПВ онлайн. Помилка 404</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
</head>
<body class="Site">
<div th:insert="header-template :: header"></div>

<div th:insert="header-menu-template:: navmenu"></div>

<!--body-->
<div class="container Site-content">
    <h1>Помилка 404</h1>
    <p>Сторінка не знайдена!</p>
    <p><a href="/">Повернутись на головну.</a></p>
</div>

<div th:insert="footer-template :: footer"></div>

<!--javascript-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>