<div class="footer" th:fragment="footer">
    <!--footer-->
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-left">
                <p>© 2017 PJSC Ukrainian Insurance Standard</p>
                <p>Всі права охороняються законодавством України</p>
            </div>
            <div class="col-xs-6 text-right">
                <p>04073, м. Київ, пров. Балтійський, 20</p>
                <p>тел.: (044) 590-09-14, факс: (044) 590-09-16</p>
                <p><a href="mailto:usstandart@usstandart.ua">usstandart@usstandart.ua</a></p>
            </div>
        </div>
    </div>
</div>