<div class="navmenu" th:fragment="navmenu">
    <!--site menu-->
    <nav>
        <div class="navButtons">
            <ul class="list-inline-custom">
                <li>
                    <a href="http://usstandart.ua/">Головна</a>
                </li>
                <li>
                    <a href="http://usstandart.ua/insurance.html">Страхові послуги</a>
                </li>
                <li>
                    <a href="http://usstandart.ua/network.html">Представницька мережа</a>
                </li>
                <li>
                    <a href="http://usstandart.ua/event.html">Страховий випадок</a>
                </li>
                <li>
                    <a href="http://usstandart.ua/about.html">Про компанію</a>
                </li>
                <li>
                    <a href="http://usstandart.ua/news.html">Пресс-центр</a>
                </li>
                <li>
                    <a href="/">Online-послуги</a>
                </li>
            </ul>
        </div>
    </nav>
</div>