<div class="header" th:fragment="header">
    <div class="container header-info">
        <div class="row">
            <div class="col-xs-6">
                <img th:src="@{/img/logo.png}" class="img-responsive" alt="USS logo" />
            </div>
            <div class="col-xs-6 text-right">
                <p>Телефон гарячої лінії:</p>
                <p class="lableAttention"><b>0 800 501 634</b></p>
                <p>Безкоштовно в межах України</p>
            </div>
        </div>
    </div>
</div>