<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>
</head>
<body>
<p>------</p>
<table>
    <tr>
        <td>Id:</td>
        <td th:text="${id}">значение</td>
    </tr>
    <tr>
        <td>k1:</td>
        <td th:text="${k1Value}">значение</td>
        <td>Тип транспортного засобу:</td>
        <td th:text="${k1Description}">описание</td>
    </tr>
    <tr>
        <td>k2:</td>
        <td th:text="${k2Value}">значение</td>
        <td>Місце реєстрації ТЗ:</td>
        <td th:text="${k2Description}">описание</td>
    </tr>
    <tr>
        <td>k3:</td>
        <td th:text="${k3Value}">значение</td>
        <td th:text="${k3aDescription}">описание k3a</td>
        <td th:text="${k3bDescription}">описание k3b</td>
    </tr>
    <tr>
        <td>k4:</td>
        <td th:text="${k4Value}">значение</td>
        <td>Мінімальний водійський стаж:</td>
        <td th:text="${k4Description}">описание</td>
    </tr>
    <tr>
        <td>k5:</td>
        <td th:text="${k5Value}">значение</td>
        <td>Період використання ТЗ:</td>
        <td th:text="${k5Description}">описание</td>
    </tr>
    <tr>
        <td>k6:</td>
        <td th:text="${k6Value}">значение</td>
        <td>Спроби шахрайства:</td>
        <td th:text="${k6Description}">описание</td>
    </tr>
    <tr>
        <td>k7:</td>
        <td th:text="${k7Value}">значение</td>
        <td>Коефіцієнт короткостроковості:</td>
        <td th:text="${k7Description}">описание</td>
    </tr>
    <tr>
        <td>kPark:</td>
        <td th:text="${kParkValue}">значение</td>
        <td>Парк ТЗ:</td>
        <td th:text="${kParkDescription}">описание</td>
    </tr>
    <tr>
        <td>kBM:</td>
        <td th:text="${kBMValue}">значение</td>
        <td>Бонус-малус:</td>
        <td th:text="${kBMDescription}">описание</td>
    </tr>
    <tr>
        <td>kPrivileges:</td>
        <td th:text="${kPrivilegesValue}">значение</td>
        <td>Пільги:</td>
        <td th:text="${kPrivilegesDescription}">описание</td>
    </tr>
    <tr>
        <td>kFranshiza:</td>
        <td th:text="${kFranshizaValue}">значение</td>
        <td>Франшиза:</td>
        <td th:text="${kFranshizaDescription}">описание</td>
    </tr>
    <tr>
        <td>Необхідність ОТК:</td>
        <td th:text="${kOTKDescription}">описание</td>
    </tr>
    <tr>
        <td>Дата ОТК:</td>
        <td th:text="${kOTKDate}">описание</td>
    </tr>
    <tr>
        <td><b>Результат:</b></td>
        <td th:text="${kResultValue}"><b>значение</b></td>
    </tr>
</table>
<p>------</p>
<table>
    <tr>
        <td>Прізвище:</td>
        <td th:text="${inputSecondName}">значение</td>
    </tr>
    <tr>
        <td>Ім'я:</td>
        <td th:text="${inputFirstName}">значение</td>
    </tr>
    <tr>
        <td>По батькові:</td>
        <td th:text="${inputPatronymic}">значение</td>
    </tr>
    <tr>
        <td>Контактний телефон:</td>
        <td th:text="${inputTelephone}">значение</td>
    </tr>
    <tr>
        <td>Електронна пошта:</td>
        <td th:text="${inputEmail}">значение</td>
    </tr>
    <tr>
        <td>Дата заяви:</td>
        <td th:text="${inputDate}">значение</td>
    </tr>
</table>



</body>
</html>