<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Страхування авто - калькулятор ОСЦПВ онлайн | СК "Український страховий стандарт"</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-99839336-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
    <body>
        <div th:insert="header-template :: header"></div>

        <div th:insert="header-menu-template:: navmenu"></div>
    
        <!--body-->
        <div id="firstPanel" class="panel panel-default calcPanel">
            <div class="panel-body calcPanelBody">
                <h4 class="lableAttentionGreen text-center">Автоцивілка онлайн</h4>
                <ul class="list-inline-custom">
                    <li>
                        <button type="button" id="transportB" class="buttonSelectAutoClass autoB"></button>
                    </li>
                    <li>
                        <button type="button" id="transportC" class="buttonSelectAutoClass autoC"></button>
                    </li>
                    <li>
                        <button type="button" id="transportD" class="buttonSelectAutoClass autoD"></button>
                    </li>
                    <li>
                        <button type="button" id="transportF" class="buttonSelectAutoClass autoF"></button>
                    </li>
                    <li>
                        <button type="button" id="transportA" class="buttonSelectAutoClass autoA"></button>
                    </li>
                </ul>

                <div class="form-group">
                    <label for="k1" class="calcButtonLabel">Тип транспортного засобу:</label>
                    <select class="form-control custom-btn-block" id="k1">
                    </select>
                </div>

                <div class="form-group">
                    <label class="calcButtonLabel" for="k2">Місце реєстрації:</label>
                    <input type="text" class="form-control custom-btn-block typeahead" id="k2" />
                </div>

                <div class="calcResult">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <p class="text-right">Вартість:</p>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <p class="text-center" id="calcResult">грн.</p>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="button" class="buttonExpand" data-toggle="collapse" data-target="#secondPanel">Продовжити оформлення</button>
                </div>

                <div id="secondPanel" class="collapse">

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="k3a" class="calcButtonLabel">Сфера використання:</label>
                                <select class="form-control custom-btn-block" id="k3a">
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="k3b" class="calcButtonLabel">Фіз/юр.особа:</label>
                                <select class="form-control custom-btn-block" id="k3b">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="k7" class="calcButtonLabel">Період дії полісу:</label>
                                <select class="form-control custom-btn-block" id="k7">
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="kBM" class="calcButtonLabel">Період безаварійної експлуатації ТЗ:</label>
                                <select class="form-control custom-btn-block" id="kBM">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="kOTK" class="calcButtonLabel">Обов'язковий техничний контроль:</label>
                                <select class="form-control custom-btn-block" id="kOTK">
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div id="OTKDate" class="collapse">
                                <label for="datetimepickerOTK" class="calcButtonLabel">Дата обов'язкового техничного контролю:</label>
                                <input type="text" class="form-control custom-btn-block" id="datetimepickerOTK"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="kPrivileges" class="calcButtonLabel">Пільги:</label>
                        <select class="form-control custom-btn-block" id="kPrivileges">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="kFranshiza" class="calcButtonLabel">Розмір франшизи:</label>
                        <select class="form-control custom-btn-block" id="kFranshiza">
                        </select>
                    </div>

                    <div class="text-center">
                        <button type="button" class="buttonExpand" data-toggle="collapse" data-target="#registrationForm">Замовити поліс</button>
                    </div>
                </div>

                <div id="registrationForm" class="collapse">
                    <div class="form-group">
                        <label for="inputSecondName" class="calcButtonLabel">Прізвище:</label>
                        <input type="text" class="form-control credentials fio" id="inputSecondName" />
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="calcButtonLabel">Ім'я:</label>
                        <input type="text" class="form-control credentials fio" id="inputFirstName" />
                    </div>

                    <div class="form-group">
                        <label for="inputPatronymic" class="calcButtonLabel">По батькові:</label>
                        <input type="text" class="form-control credentials fio" id="inputPatronymic" />
                    </div>

                    <div class="form-group">
                        <label for="inputTelephone" class="calcButtonLabel">Контактний телефон:</label>
                        <input type="text" class="form-control credentials" id="inputTelephone" />
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="calcButtonLabel">Електронна пошта:</label>
                        <input type="text" class="form-control credentials" id="inputEmail" />
                    </div>

                    <div class="text-center">
                        <button type="button" class="buttonExpand buttonFinish">Зробити замовлення!</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="containerFullWidth">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-4 bannerItem">
                        <div>
                            <img th:src="@{/img/icon-calc1.png}" class="img-responsive imgCentered" />
                        </div>
                        <div class="text-center">
                            <h4>Вигідно</h4>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 bannerItem">
                        <div>
                            <img th:src="@{/img/icon-calc2.png}" class="img-responsive imgCentered" />
                        </div>
                        <div class="text-center">
                            <h4>Надійно</h4>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 bannerItem">
                        <div>
                            <img th:src="@{/img/icon-calc3.png}" class="img-responsive imgCentered" />
                        </div>
                        <div class="text-center">
                            <h4>Якісно</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container information">
            <h4>Скористайтеся перевагами страхування ОСЦПВ в СК «Український страховий стандарт»:</h4>
            <ul style="list-style-type:circle">
                <li>Можливість страхування з нульовою франшизою, навіть у м. Києві;</li>
                <li>Страхування в надійній страховій компанії, яка постійно отримує високі оцінки своєї діяльності від МТСБУ;</li>
                <li>Гарантоване відшкодування за заподіяну шкоду в повному обсязі і в найкоротші терміни;</li>
                <li>Швидкість та оперативність в оформленні страхового поліса.</li>
            </ul>
        </div>

        <div class="container information">
            <h4>Обов'язкове страхування цивільної відповідальності:</h4>
            <p>
                Даний вид обов'язкового страхування здійснюється в порядку, передбаченому Законом України № 1961 - ІV від 01.07.04г.
                (зі змінами та доповненнями) та забезпечує відшкодування шкоди, завданої потерпілим - третім особам внаслідок ДТП,
                винуватцем якого був власник (або особа, щодо якої укладено страховий поліс) транспортного засобу (його представники - працівники підприємства).
            </p>
            <h5>
                <b>Об’єкти страхування:</b>
            </h5>
            <p>
                Відповідальність власників транспортних засобів за шкоду, заподіяну третім особам внаслідок дорожньо-транспортної пригоди,
                а саме життю або здоров'ю третіх осіб або їх майну.
            </p>
            <h5>
                <b>Ризики:</b>
            </h5>
            <p>
                Дорожньо-транспортна пригода (ДТП), яка сталася за участю транспортного засобу Застрахованої особи і внаслідок якої настає її цивільна
                відповідальність за заподіяну транспортним засобом шкоду майну, життю або здоров'ю третіх осіб.
            </p>
            <h5>
                <b>Страхова сума:</b>
            </h5>
            <ul style="list-style-type:circle">
                <li>за шкоду, заподіяну життю і здоров'ю кожного потерпілого –  200 000 грн.;</li>
                <li>за шкоду, заподіяну майну кожного потерпілого – 100 000 грн. (але не більше 500 000 грн. на всіх потерпілих).</li>
            </ul>
            <h5>
                <b>На розмір страхового платежу впливає:</b>
            </h5>
            <ul style="list-style-type:circle">
                <li>тип транспортного засобу (легковий, вантажний, автобус);</li>
                <li>характеристики транспортного засобу (об’єм двигуна, вантажопідйомність, пасажиромісткість);</li>
                <li>місце реєстрації транспортного засобу (Київ, великі міста, інші населені пункти);</li>
                <li>сфера використання транспортного засобу (юридичною або фізичною особою);</li>
                <li>строк страхування (від 15 днів до 1 року).</li>
            </ul>
            <p>
                Законом звільнені від зобов'язань страхування інваліди першої групи та учасники бойових дій. Пенсіонерам
                та інвалідам другої групи надається знижка 50%.
            </p>
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" Role="dialog" aria-labelledby="successModalLabel">
            <div class="modal-dialog" Role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="successModalLabel">Замовлення на оформлення поліса ОСЦПВ прийнято.</h4>
                    </div>
                    <div class="modal-body">
                        <p>Дякуємо, що скористалися нашим сервісом. Наш менеджер обов'язково зв'яжеться з Вами найближчим часом!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success buttonRetry" data-dismiss="modal">Замовити інший поліс</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="wrongFormModal" tabindex="-1" Role="dialog" aria-labelledby="wrongFormLabel">
            <div class="modal-dialog" Role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="wrongFormLabel">Помилка в наданих даних.</h4>
                    </div>
                    <div class="modal-body">
                        <p>Невірно заповнена форма!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Продовжити</button>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="footer-template :: footer"></div>
        <!--javascript-->
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/typeahead.bundle.js}"></script>
        <script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
        <script defer="defer" th:src="@{/js/jscripts-osago.js}"></script>
        <script defer="defer" th:src="@{/js/jscripts-cities.js}"></script>
    </body>
</html>