<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Страхування авто - особистий кабінет - замовлення ОСЦПВ | СК "Український страховий стандарт"</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
</head>
<body class="Site">
<div th:insert="header-template :: header"></div>

<div th:insert="header-menu-template:: navmenu"></div>

<!--body-->
<div class="container Site-content">
    <h3>Особистий кабінет</h3>


    <div class="row">
        <div class="col-sm-3">
            <div th:insert="cabinet-sidemenu-template :: sidemenu"></div>
        </div>
        <div class="col-sm-9">
            <div class="row" style="padding: 10px; font-family: 'Roboto Light'">
                <div class="col-xs-1"><a href="/cabinet/orders-osago?isProcessed=false">Відкриті</a></div>
                <div class="col-xs-1 text-right">/</div>
                <div class="col-xs-1"><a href="/cabinet/orders-osago?isProcessed=true">Закриті</a></div>
            </div>
            <div id="osagoListSimple">
                <div class="row" style="padding-bottom: 20px; background-color: lightgray">
                    <div class="col-xs-1">id</div>
                    <div class="col-xs-5">ПІБ</div>
                    <div class="col-xs-2">Статус</div>
                    <div class="col-xs-2">Оброблений</div>
                    <div class="col-xs-2">Дата</div>
                </div>

                <div class="row" style="padding-bottom: 20px" th:each="order: ${osagoOrders}">
                    <div class="col-xs-1"><a th:href="@{/cabinet/orders-osago/get/} + ${order.id}" th:text="${order.id}"></a></div>
                    <div class="col-xs-5" th:text="${order.FIO}"></div>
                    <div th:if="${order.status} == 'new'" class="col-xs-2" th:text="'Нова заявка'"></div>
                    <div th:if="${order.status} == 'closed successfully'" class="col-xs-2" th:text="'Закрита успішно'"></div>
                    <div th:if="${order.status} == 'closed unsuccessfully'" class="col-xs-2" th:text="'Закрита неуспішно'"></div>

                    <div th:if="${order.processed} == true" class="col-xs-2" th:text="так"></div>
                    <div th:if="${order.processed} == false" class="col-xs-2" th:text="ні"></div>

                    <div class="col-xs-2" th:text="${order.dateAdded}"></div>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:insert="footer-template :: footer"></div>
<!--javascript-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>