<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Страхування авто - особистий кабінет - замовлення ОСЦПВ | СК "Український страховий стандарт"</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/orderdetails.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
</head>
<body class="Site">
<div th:insert="header-template :: header"></div>

<div th:insert="header-menu-template:: navmenu"></div>

<!--body-->
<div class="container Site-content">
    <h3>Особистий кабінет</h3>


    <div class="row">
        <div class="col-sm-3">
            <div th:insert="cabinet-sidemenu-template :: sidemenu"></div>
        </div>
        <div class="col-sm-9">
            <div id="osagoOrderDetails">
                <div class="row">
                    <div class="col-xs-3 description">id:</div>
                    <div class="col-xs-3" id="id" th:text="${id}">id</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">К1:</div>
                    <div class="col-xs-3" th:text="${k1Value}">k1Value</div>
                    <div class="col-xs-3 description">Тип транспортного засобу:</div>
                    <div class="col-xs-3" th:text="${k1Description}">k1Description</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">К2:</div>
                    <div class="col-xs-3" th:text="${k2Value}">k2Value</div>
                    <div class="col-xs-3 description">Місце реєстрації ТЗ:</div>
                    <div class="col-xs-3" th:text="${k2Description}">k2Description</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">К3:</div>
                    <div class="col-xs-3" th:text="${k3Value}">k3Value</div>
                    <div class="col-xs-3" th:text="${k3aDescription}">k3aDescription</div>
                    <div class="col-xs-3" th:text="${k3bDescription}">k3bDescription</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">К4:</div>
                    <div class="col-xs-3" th:text="${k4Value}">k4Value</div>
                    <div class="col-xs-3 description">Мінімальний водійський стаж:</div>
                    <div class="col-xs-3" th:text="${k4Description}">k4Description</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">К5:</div>
                    <div class="col-xs-3" th:text="${k5Value}">k5Value</div>
                    <div class="col-xs-3 description">Період використання ТЗ:</div>
                    <div class="col-xs-3" th:text="${k5Description}">k5Description</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">К6:</div>
                    <div class="col-xs-3" th:text="${k6Value}">k6Value</div>
                    <div class="col-xs-3 description">Спроби шахрайства:</div>
                    <div class="col-xs-3" th:text="${k6Description}">k6Description</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">К7:</div>
                    <div class="col-xs-3" th:text="${k7Value}">k7Value</div>
                    <div class="col-xs-3 description">Коефіцієнт короткостроковості:</div>
                    <div class="col-xs-3" th:text="${k7Description}">k7Description</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">К Парк:</div>
                    <div class="col-xs-3" th:text="${kParkValue}">kParkValue</div>
                    <div class="col-xs-3 description">Парк ТЗ:</div>
                    <div class="col-xs-3" th:text="${kParkDescription}">kParkDescription</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Б/М:</div>
                    <div class="col-xs-3" th:text="${kBMValue}">kBMValue</div>
                    <div class="col-xs-3 description">Бонус-малус:</div>
                    <div class="col-xs-3" th:text="${kBMDescription}">kBMDescription</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Пільги:</div>
                    <div class="col-xs-3" th:text="${kPrivilegesValue}">kPrivilegesValue</div>
                    <div class="col-xs-3" th:text="${kPrivilegesDescription}">kPrivilegesDescription</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Франшиза:</div>
                    <div class="col-xs-3" th:text="${kFranshizaDescription}">kFranshizaDescription</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Необхідність ОТК:</div>
                    <div class="col-xs-3" th:text="${kOTKDescription}">needOTKDescription</div>
                    <div class="col-xs-3" th:text="${kOTKDate}">kOTKDate</div>
                </div>

                <div class="row">
                    <div class="col-xs-3"><b>результат:</b></div>
                    <div class="col-xs-3" th:text="${kResultValue}">result</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Прізвище:</div>
                    <div class="col-xs-3" th:text="${inputSecondName}">inputSecondName</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Ім'я:</div>
                    <div class="col-xs-3" th:text="${inputFirstName}">inputFirstName</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">По батькові:</div>
                    <div class="col-xs-3" th:text="${inputPatronymic}">inputPatronymic</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Контактний телефон:</div>
                    <div class="col-xs-3" th:text="${inputTelephone}">inputTelephone</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Електронна пошта:</div>
                    <div class="col-xs-3" th:text="${inputEmail}">inputEmail</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Дата заяви:</div>
                    <div class="col-xs-3" th:text="${inputDate}">date_added</div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Оброблений:</div>
                    <div th:if="${isProcessed} == true" class="col-xs-3" th:text="так"></div>
                    <div th:if="${isProcessed} == false" class="col-xs-3" th:text="ні"></div>
                </div>

                <div class="row">
                    <div class="col-xs-3 description">Статус:</div>
                    <div th:if="${status} == 'new'" class="col-xs-3" th:text="'Нова заявка'"></div>
                    <div th:if="${status} == 'closed successfully'" class="col-xs-3" th:text="'Закрита успішно'"></div>
                    <div th:if="${status} == 'closed unsuccessfully'" class="col-xs-3" th:text="'Закрита неуспішно'"></div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <select class="form-control custom-btn-block" id="changeStatus">
                            <option value="" selected="selected"></option>
                            <option value="new">Нова заявка</option>
                            <option value="closed successfully">Закрита успішно</option>
                            <option value="closed unsuccessfully">Закрита неуспішно</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-success submitChangeStatus" style="padding: 10px">Змінити статус</button>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:insert="footer-template :: footer"></div>
<!--javascript-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jscripts-osago-order-edit.js}"></script>
</body>
</html>